/* common CSS Start */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Playfair+Display:wght@400;700;900&display=swap");
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;

	font-size: 16px;
	color: #292640;
}

/* common CSS ends*/
/* Header Start */
.header {
	padding-bottom: 40px;
}
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/* border: 2px red solid; */
}

.logo {
	width: 14%;
	/* border: 1px pink solid; */
	float: left;
}
.logo img {
	width: 100%;
	padding-top: 2px;
}

/* .main-menu {
	overflow: hidden;
} */

.menu {
	width: 85%;
	/* border: 1px rgb(17, 12, 13) solid; */
	float: right;
}

.menu-bar {
	width: 70%;
	float: left;
	/* border: 1px skyblue solid; */
}

.menu-list li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0px 0px;
}

.menu-list li a {
	font-weight: 700;
	text-decoration: none;
	color: #434057;
	padding: 0px 30px;
}
.menu-list li a:first-child {
	padding-left: 0px;
}

.call-button {
	float: right;
	/* border: 1px skyblue solid; */
}
#call-button {
	width: 200px;
	height: 52px;
	background-color: #ff6162;

	font-weight: 700;
	border-radius: 5px;
	border: solid #ff6162 1px;
}
#call-button a {
	text-decoration: none;
	color: #ffffff;
}
/* header end */

/* banner section starts  */
.banner {
	padding-top: 80px;
}
.banner-text {
	width: 50%;
	float: left;
	box-sizing: border-box;
	font-size: 35px;
}
.banner-heading {
	font-size: 50px;
	margin: 0;
	padding: 48px 100px 10px 20px;
}
.banner-description {
	font-size: 18px;
	line-height: 20px;
	color: #a2a4bf;
	font-weight: 600px;
	padding: 0px 20px 0 20px;
}
.banner-image {
	width: 50%;
	float: right;
	padding-left: 20px;
	box-sizing: border-box;
}
.banner-image img {
	width: 100%;
}
.banner-icon {
	padding: 20px 0px 0px 20px;
}
/* banner sections ends */

/* demo section starts */
#demo-container {
	width: 97%;
	padding-top: 250px;
}
.demo-text {
	text-align: center;
}
.demo-heading {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700px;
	text-align: center;
}
.demo-paragraph {
	padding: 0px 400px 20px 400px;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 18px;
	color: #72808e;
	font-weight: 700px;
	text-align: center;
}

.demo-items {
	width: 24%;
	box-sizing: border-box;
	float: left;
	margin-right: 1%;

	/* transition-duration: 0.33s; */
	transition-delay: 0.1s;
}
.demo-items img {
	width: 100%;
	opacity: 0.8;
}
.demo-items img:hover {
	opacity: 1;
}
.demo-captions {
	font-size: 18px;
	text-align: center;
	color: #434749;
}

/* demo section ends */

/* features section start */
.features {
	padding-top: 250px;
}

.row {
	margin: 30px 15%;
	overflow: hidden;
	box-sizing: border-box;
}

.feature-card {
	width: 30%;
	height: 250px;
	float: left;
	margin: 0 15px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: #a2a4bf;
}
.feature-card:first-child {
	margin-left: 0.5%;
}
.feature-card:last-child {
	margin-right: 0.5%px;
}
.feature-image {
	padding: 5px 0;
}
.feature-card h2 {
	margin: 0;
	padding: 10px 0;
	font-size: 16px;
}
.feature-card p {
	margin: 0;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 500;
	color: #7b7e7f;
}
.feature-card h2,
.feature-card p {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

/* features section ends */

/* footer section start */
footer {
	text-align: center;
	background-color: #292640;
}
footer h2 {
	font-size: 45px;
	padding: 80px 450px 35px 450px;
}

footer h2,
footer p {
	color: #ffffff;
}
footer img {
	display: block;
	margin: 0 auto;
	padding: 25px 0;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: #555;
}
/* footer section end */
