/* common CSS Start */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #292640;
}

/* common CSS ends*/
/* Header Start */
.container {
	overflow: hidden;
	/* border: 2px red solid; */
}

.logo {
	width: 11%;
	/* border: 1px pink solid; */
	float: left;
}
.logo img {
	width: 100%;
}

/* .main-menu {
	overflow: hidden;
} */

.menu {
	width: 80%;
	/* border: 1px rgb(17, 12, 13) solid; */
	float: right;
}

.menu-bar {
	width: 80%;
	float: left;
	/* border: 1px skyblue solid; */
}

.menu-list li {
	list-style: none;
	display: inline-block;
	padding: 0 30px;
}

.menu-list li a {
	font-weight: 700;
	text-decoration: none;
	color: #434057;
}
.call-button {
	width: 18%;
	float: right;
	/* border: 1px skyblue solid; */
}
#call-button {
	width: 200px;
	height: 52px;
	background-color: #ff6162;
	color: #ffffff;
	font-weight: 700;
	border-radius: 5px;
	border: solid #ff6162 1px;
}
#call-button a {
	text-decoration: none;
}
/* header end */
